Repository ksen0morph/space-station-next, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @Tornado-Technology, @FireNameFN, @Ko4ergaPunk

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0
# C#
*.cs @Tornado-Technology @FireNameFN

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk
/Resources/Maps/** @Ko4ergaPunk

Port crawling from WWDP (#578)
  Content.Client/Buckle/BuckleSystem.cs
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/_White/Standing/LayingDownSystem.cs
  Content.IntegrationTests/Tests/Buckle/BuckleTest.cs
  Content.Server/Standing/StandingStateSystem.cs
  Content.Server/_White/Standing/LayingDownSystem.cs
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Standing/StandingStateComponent.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/_White/Standing/LayingDownComponent.cs
  Content.Shared/_White/Standing/SharedLayingDownSystem.cs
  Resources/Locale/en-US/_white/escape-menu/options-menu.ftl
  Resources/Locale/ru-RU/_corvaxnext/escape-menu/ui/options.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/keybinds.yml
Owners: @Tornado-Technology, @FireNameFN, @Morb0

Added Mindcontrol Implant (#513)
  Content.Client/Goobstation/Mindcontrol/MindcontrolSystem.cs
  Content.Server/Goobstation/Implants/MindcontrolImplantComponent.cs
  Content.Server/Goobstation/Implants/MindcontrolImplantSystem.cs
  Content.Server/Goobstation/Mindcontrol/MindcontrolSystem.cs
  Content.Server/Goobstation/Roles/MindcontrolledRoleComponent.cs
  Content.Server/Implants/ImplanterSystem.cs
  Content.Server/Mindshield/MindShieldSystem.cs
  Content.Shared/Goobstation/Implanter/PreventSelfImplantComponent.cs
  Content.Shared/Goobstation/Mindcontrol/MindcontrolledComponent.cs
  Resources/Audio/Goobstation/Ambience/Antag/attributions.yml
  Resources/Audio/Goobstation/Ambience/Antag/mindcontrol_start.ogg
  Resources/Locale/en-US/Goobstation/mindcontrol/mindcontrol.ftl
  Resources/Locale/ru-RU/_corvaxnext/mindcontrol/mindcontrol.ftl
  Resources/Prototypes/_CorvaxNext/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/mindcontrol_implant.yml
  Resources/Prototypes/_Goobstation/Roles/Antags/mindcontrol.yml
  Resources/Textures/Interface/Misc/job_icons.rsi/Mindcontrolled.png
  Resources/Textures/Interface/Misc/job_icons.rsi/meta.json
Owners: @Tornado-Technology, @FireNameFN, @Morb0

upstream mind roles (#827)
  Content.Server/ADT/GameTicking/Rules/Components/HereticRuleComponent.cs
  Content.Server/ADT/GameTicking/Rules/HereticRuleSystem.cs
  Content.Server/ADT/Heretic/EntitySystems/GhoulSystem.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Resources/Prototypes/ADT/Heretic/GameRules/roundstart.yml
  Resources/Prototypes/ADT/Heretic/Objectives/heretic.yml
  Resources/Prototypes/Roles/MindRoles/mind_roles.yml
  Resources/Prototypes/_CorvaxNext/tags.yml
Owners: @Tornado-Technology, @FireNameFN, @Morb0

фиксы еретика
  Content.Client/ADT/Heretic/UI/HereticRitualRuneRadialMenu.xaml
  Content.Client/ADT/Heretic/UI/LivingHeartMenu.xaml
  Content.Server/ADT/GameTicking/Rules/Components/HereticRuleComponent.cs
  Content.Server/ADT/GameTicking/Rules/HereticRuleSystem.cs
  Content.Server/ADT/Heretic/EntitySystems/GhoulSystem.cs
  Content.Server/ADT/Heretic/EntitySystems/HereticSystem.cs
  Resources/Prototypes/ADT/GameRules/roundstart.yml
  Resources/Prototypes/ADT/Roles/MindRoles/mind_roles.yml
Owners: @Morb0, @Tornado-Technology, @FireNameFN

Фиксы
  Content.Server/ADT/Heretic/EntitySystems/GhoulSystem.cs
  Content.Shared/Silicons/Laws/Components/SiliconLawBoundComponent.cs
Owners: @Tornado-Technology, @FireNameFN

дочиниваем еретика
  Content.Server/ADT/GameTicking/Rules/HereticRuleSystem.cs
  Resources/Prototypes/ADT/Roles/MindRoles/mind_roles.yml
Owners: @Tornado-Technology, @FireNameFN, @Morb0

Port crawling from WWDP (#578)
  Content.Client/Buckle/BuckleSystem.cs
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/_White/Standing/LayingDownSystem.cs
  Content.IntegrationTests/Tests/Buckle/BuckleTest.cs
  Content.Server/Standing/StandingStateSystem.cs
  Content.Server/_White/Standing/LayingDownSystem.cs
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Standing/StandingStateComponent.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/_White/Standing/LayingDownComponent.cs
  Content.Shared/_White/Standing/SharedLayingDownSystem.cs
  Resources/Locale/en-US/_white/escape-menu/options-menu.ftl
  Resources/Locale/ru-RU/_corvaxnext/escape-menu/ui/options.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/keybinds.yml
Owners: @Tornado-Technology, @FireNameFN, @Morb0

Heretic fix (#984)
  Content.IntegrationTests/Tests/ADT/Heretic/RitualKnowledgeTests.cs
  Content.Server/ADT/Heretic/Abilities/HereticAbilitySystem.Ash.cs
  Content.Server/ADT/Heretic/Abilities/HereticAbilitySystem.Blade.cs
  Content.Server/ADT/Heretic/EntitySystems/MansusGraspSystem.cs
  Content.Server/ADT/Heretic/EntitySystems/PathSpecific/AristocratSystem.cs
  Content.Server/ADT/Heretic/EntitySystems/PathSpecific/ChampionStanceSystem.cs
  Content.Server/ADT/Heretic/EntitySystems/ProtectiveBladeSystem.cs
  Content.Server/ADT/Heretic/Ritual/CustomBehavior.Knowledge.cs
  Content.Shared/ADT/Heretic/Components/HereticComponent.cs
  Content.Shared/ADT/Heretic/Heretic.Abilites.cs
  Resources/Locale/ru-RU/ADT/Heretic/abilities/heretic.ftl
  Resources/Prototypes/ADT/Datasets/tags.yml
  Resources/Prototypes/ADT/Heretic/Actions/Heretic/basic.yml
  Resources/Prototypes/ADT/Heretic/Actions/Heretic/path_ash.yml
  Resources/Prototypes/ADT/Heretic/Actions/Heretic/path_void.yml
  Resources/Prototypes/ADT/Heretic/Entities/Mobs/NPC/heretic_specific.yml
  Resources/Prototypes/ADT/Heretic/Entities/Objects/Specific/heretic.yml
  Resources/Prototypes/ADT/Heretic/Entities/Objects/magic_contraband.yml
  Resources/Prototypes/ADT/Heretic/GameRules/roundstart.yml
  Resources/Prototypes/ADT/Heretic/Heretic/heretic_knowledge.yml
  Resources/Prototypes/Entities/Objects/Devices/geiger.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Roles/MindRoles/mind_roles.yml
Owners: @Tornado-Technology, @FireNameFN, @Morb0

еретик ножика (#924)
  Content.Server/ADT/Heretic/Abilities/HereticAbilitySystem.Ash.cs
  Content.Server/ADT/Heretic/Abilities/HereticAbilitySystem.Blade.cs
  Content.Server/ADT/Heretic/EntitySystems/PathSpecific/AristocratSystem.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Resources/Prototypes/ADT/Heretic/Heretic/heretic_knowledge.yml
Owners: @Tornado-Technology, @FireNameFN, @Morb0

fix heretics
  Resources/Prototypes/ADT/Heretic/Heretic/heretic_knowledge.yml
Owners: @Morb0

Heretic fix (#984)
  Content.Server/ADT/Heretic/Abilities/HereticAbilitySystem.Ash.cs
  Content.Server/ADT/Heretic/Abilities/HereticAbilitySystem.Blade.cs
  Content.Server/ADT/Heretic/EntitySystems/PathSpecific/AristocratSystem.cs
  Resources/Prototypes/ADT/Heretic/Heretic/heretic_knowledge.yml
  Resources/Prototypes/GameRules/events.yml
Owners: @Tornado-Technology, @FireNameFN, @Morb0

ftl heretic fixes
  Resources/Locale/ru-RU/ADT/Heretic/store/heretic/heretic-catalog-side.ftl
Owners: @Morb0

Great Heretic Grandmaster Update (#1550)
  Content.Client/_Goobstation/Heretic/HereticCombatMarkSystem.cs
  Content.Client/_Goobstation/Heretic/VoidCurseSystem.cs
  Content.Server/_Goobstation/GameTicking/Rules/HereticRuleSystem.cs
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.Ash.cs
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.Void.cs
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.cs
  Content.Server/_Goobstation/Heretic/Abilities/HereticFlames.cs
  Content.Server/_Goobstation/Heretic/Components/PathSpecific/AristocratComponent.cs
  Content.Server/_Goobstation/Heretic/Effects/VoidCurse.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/EldritchInfluenceSystem.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/HereticCombatMarkSystem.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/PathSpecific/AristocratSystem.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/PathSpecific/VoidCurseSystem.cs
  Content.Server/_Goobstation/Heretic/Ritual/CustomBehavior.Sacrifice.cs
  Content.Server/_Goobstation/Magic/ImmovableVoidRodSystem.cs
  Content.Shared/_Goobstation/Heretic/Components/VoidCurseComponent.cs
  Content.Shared/_Goobstation/Heretic/Heretic.Abilites.cs
  Content.Shared/_Goobstation/Heretic/Systems/SharedVoidCurseSystem.cs
  Resources/Audio/_Goobstation/Heretic/Ambience/Antag/Heretic/VoidsEmbrace.ogg
  Resources/Audio/_Goobstation/Heretic/Ambience/Antag/Heretic/attributions.yml
  Resources/Prototypes/Guidebook/antagonist.yml
  Resources/Prototypes/_Goobstation/Heretic/Actions/Heretic/path_ash.yml
  Resources/Prototypes/_Goobstation/Heretic/Catalog/Heretic/path_ash.yml
  Resources/Prototypes/_Goobstation/Heretic/Catalog/Heretic/path_blade.yml
  Resources/Prototypes/_Goobstation/Heretic/Catalog/Heretic/path_flesh.yml
  Resources/Prototypes/_Goobstation/Heretic/Catalog/Heretic/path_side.yml
  Resources/Prototypes/_Goobstation/Heretic/Catalog/Heretic/path_void.yml
  Resources/Prototypes/_Goobstation/Heretic/Entities/Structures/Specific/Heretic/tiles.yml
  Resources/Prototypes/_Goobstation/Heretic/Guidebook/antagonist.yml
  Resources/Prototypes/_Goobstation/Heretic/Heretic/heretic_rituals.yml
  Resources/Prototypes/_Goobstation/Heretic/Polymorphs/polymorphs.yml
  Resources/ServerInfo/Goobstation/Guidebook/Antagonist/Heretics.xml
  Resources/Textures/_Goobstation/Heretic/void_overlay.rsi/meta.json
  Resources/Textures/_Goobstation/Heretic/void_overlay.rsi/void_chill_oh_fuck.png
  Resources/Textures/_Goobstation/Heretic/void_overlay.rsi/void_chill_partial.png
  Resources/Textures/_Goobstation/Heretic/void_overlay.rsi/void_conduit.png
  Resources/Textures/_Goobstation/Heretic/void_overlay.rsi/voidtile.png
Owners: @Tornado-Technology, @FireNameFN, @Morb0

Revert "Night and thermal vision device (#104)"
  Content.Client/_CorvaxNext/Overlays/BaseSwitchableOverlay.cs
  Content.Client/_CorvaxNext/Overlays/NightVisionSystem.cs
  Content.Client/_CorvaxNext/Overlays/ThermalVisionOverlay.cs
  Content.Client/_CorvaxNext/Overlays/ThermalVisionSystem.cs
  Content.Server/_CorvaxNext/Overlays/NightVisionSystem.cs
  Content.Server/_CorvaxNext/Overlays/ThermalVisionSystem.cs
  Content.Shared/_CorvaxNext/Clothing/Components/ClothingGrantComponentComponent.cs
  Content.Shared/_CorvaxNext/Clothing/Components/ClothingGrantTagComponent.cs
  Content.Shared/_CorvaxNext/Clothing/Systems/ClothingGrantingSystem.cs
  Content.Shared/_CorvaxNext/Overlays/BaseOverlayComponent.cs
  Content.Shared/_CorvaxNext/Overlays/NightVisionComponent.cs
  Content.Shared/_CorvaxNext/Overlays/SwitchableOverlayComponent.cs
  Content.Shared/_CorvaxNext/Overlays/SwitchableOverlaySystem.cs
  Content.Shared/_CorvaxNext/Overlays/ThermalInvisibilityComponent.cs
  Content.Shared/_CorvaxNext/Overlays/ThermalVisionComponent.cs
  Resources/Audio/_CorvaxNext/Items/Goggles/activate.ogg
  Resources/Audio/_CorvaxNext/Items/Goggles/attributions.yml
  Resources/Audio/_CorvaxNext/Items/Goggles/deactivate.ogg
  Resources/Locale/en-US/_corvaxnext/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/_CorvaxNext/Actions/types.yml
  Resources/Prototypes/_CorvaxNext/Entities/Clothing/Eyes/goggles.yml
  Resources/Prototypes/_CorvaxNext/Shaders/shaders.yml
  Resources/Textures/_CorvaxNext/Clothing/Eyes/Goggles/nightvision.rsi/equipped-EYES-off.png
  Resources/Textures/_CorvaxNext/Clothing/Eyes/Goggles/nightvision.rsi/equipped-EYES.png
  Resources/Textures/_CorvaxNext/Clothing/Eyes/Goggles/nightvision.rsi/icon.png
  Resources/Textures/_CorvaxNext/Clothing/Eyes/Goggles/nightvision.rsi/inhand-left.png
  Resources/Textures/_CorvaxNext/Clothing/Eyes/Goggles/nightvision.rsi/inhand-right.png
  Resources/Textures/_CorvaxNext/Clothing/Eyes/Goggles/nightvision.rsi/meta.json
  Resources/Textures/_CorvaxNext/Clothing/Eyes/Goggles/thermal.rsi/equipped-EYES.png
  Resources/Textures/_CorvaxNext/Clothing/Eyes/Goggles/thermal.rsi/icon.png
  Resources/Textures/_CorvaxNext/Clothing/Eyes/Goggles/thermal.rsi/inhand-left.png
  Resources/Textures/_CorvaxNext/Clothing/Eyes/Goggles/thermal.rsi/inhand-right.png
  Resources/Textures/_CorvaxNext/Clothing/Eyes/Goggles/thermal.rsi/meta.json
  Resources/Textures/_CorvaxNext/Shaders/nightvision.swsl
Owners: @Tornado-Technology, @FireNameFN, @Morb0
